body.darkmode {
    // Text colouring
    section,
    .section__title,
    nav,
    .footer-inside,
    #contact,
    .contact__grid,
    h1,
    .nav__horizontal--toggle button,
    section.hero.dark,
    .darkmode-toggle,
    .projects__card,
    input,
    textarea {
        color: $white;
    }

    .dark,
    section.hero,
    .dark h1 {
        color: $tundora;

    }

    .nav__horizontal--button,
    .nav__vertical--button {
        &:hover,
        &:focus-within {
            color: $white;
        }
    }

    input::placeholder,
    textarea::placeholder {
        color: $french-gray;
    }

    // Background colouring


    main,
    section,
    nav,
    .footer-inside,
    section.hero.dark,
    .darkmode-toggle {
        background-color: $tundora;
    }



    .dark,
    #nav__horizontal::after,
    section.hero,
    .darkmode-toggle span.toggle,
    .darkmode-toggle::after {
        background-color: $white;
    }

    .projects__card,
    input,
    textarea,
    .code-example {
        background-color: $scorpion;
    }


    @each $number, $image in $about-me--images {
        section.about-me:nth-of-type(#{$number})::after {
            @if $number % 2 == 0 {
                background: linear-gradient(to right, $tundora, transparent), url(#{$image}) center;
                background-size: cover;
            }
            @else {
                background: linear-gradient(to left, $white, transparent), url(#{$image}) center;
                background-size: cover;
            }
        }
    }




    // Borders
    main {
        outline: 2px solid $white;
    }

    #nav__vertical .socials {
        border-top: 1px solid $white;
    }


    input,
    textarea,
    .contact__notif {
        border: 1px solid $mine-shaft;
    }

    // Shadows
    .projects__card:hover {
        box-shadow: 0 10px 5px $mine-shaft;
    }


    // Hovers + focus
    .darkmode-toggle span.toggle{
        &:hover,
        &:focus-within {
            background-color: $viking;
        }
    }


    input:focus-within,
    textarea:focus-within {
        background: lighten($scorpion, 5%);
        border: 1px solid $viking;
    }
}