.slant-bottom {
    padding-top: 50px;
    padding-bottom: 150px;
    clip-path: polygon(
        0 0, /* left top */
        100% 0, /* right top */ 
        100% 100%, /* right bottom */
        0 calc(100% - 6vw), /* left bottom */
      );
}


.slant-top {
    padding-top: 200px;
    padding-bottom: 100px;
    clip-path: polygon(
        0 6vw, /* left top */
        100% 0, /* right top */ 
        100% 100%, /* right bottom */
        0 100%, /* left bottom */
      );
}

.slant-both {
    padding-top: 200px;
    padding-bottom: 200px;
    clip-path: polygon(
        0 6vw, /* left top */
        100% 0, /* right top */ 
        100% 100%, /* right bottom */
        0 calc(100% - 6vw), /* left bottom */
      );
}


.slant-inverse {
    margin-top: -8vw;
    margin-bottom: -8vw;
    padding-top: 200px;
    padding-bottom: 200px;
    clip-path: polygon(
        0 0, /* left top */
        100% 6vw, /* right top */ 
        100% calc(100% - 6vw), /* right bottom */
        0 100%, /* left bottom */
      );
}

.slant-none {
    padding-top: 100px;
    padding-bottom: 100px;
}


section[class^="slant-"] {
    border: none;
}
