#banner {
    padding: 0;
    position: relative;
    height: 100vh;
    font-size: 1.4em;
    @media (min-width: $break-xxl) {
        height: $banner__height;
    }
    display: flex;
}

#banner__img {
    background: url(../img/code_screenshot.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: blur(5px);
    height: 100%;
    width: 100%;
    position: absolute;
}

#banner__inner {
    align-self: center;
    background-size: contain;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    z-index: 1;

    h1 {
        margin: 20px;
        font-weight: 500;
        letter-spacing: .05em;
        font-size: 2.2em;
    }
    p {
        display: block;
        text-align: center;
    }
    h1,
    p {
        color: inherit;
        cursor: default;

    }
}

.page__arrow {
    font-size: 20px;

    @media (min-width: $break-xxl) {
        display: none;
    }
}