#banner {
    position: relative;
    height: 100vh;
    @media (min-width: $break-xl) {
        height: $banner__height;
    }
    display: flex;
}

#banner__img {
    background: url(../img/code_screenshot.png);
    background-size: cover;
    filter: blur(5px);
    height: 100%;
    width: 100%;
    position: absolute;
}

#banner__inner {
    align-self: center;
    background-size: contain;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    z-index: 1;

    h1 {
        margin: 20px;
        font-weight: 500;
        letter-spacing: .05em;
        font-size: 2em;
    }
    p {
        display: block;
        text-align: center;
    }
    h1,
    p {
        color: inherit;
        animation: 1s ease 0s 1 fadeInSlide;
        cursor: default;
        
    }
}
