#examples {
    h3 {
        font-size: 1.5em;
    }
    h4 {
        margin: 0;
    }

    h3 {
        text-align: center;
        font-weight: 500;
    }
    @media (min-width: $break-large) {
        h3 {
            text-align: left;
        }
    }

    .language-logo {
        height: 20px;
        align-self: center;
        padding-right: 5px;
        margin: auto;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;

    }
    ul {
        display: flex;
        gap: 15px;
        flex-direction: row;
        padding: 16px 0;
        width: fit-content;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
        @media (min-width: $break-large) {
            margin: 0;
        }

    }
    a {
        color: $viking;
        &:hover {
            text-decoration: underline;
        }
    }



}

.code-example {
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 5px 20px;
    background: $french-gray;
}

.project-description {
    p {
        text-align: center;
        font-style: italic;
        letter-spacing: 1px;
        margin: 20px 0;
        @media (min-width: $break-large) {
            text-align: left;
        }
    }
}