.code-example-code {
    margin: auto;
    border-radius: 5px;
    color: white;
    background: $scorpion;
    padding: 20px;
    font-size: .85em;
    font-family: monospace;
}

.yellow {
    color: #f7e69c;
}

.purple {
    color: #ce93df;
}

.blue {
    color: #4a7fdb;
}

.light-blue {
    color: #9cdcff;
}

.orange {
    color: #ff8847;
}

.red {
    color: #b95343;
}

.green {
    color: #44bd9e;
}

.dark-green {
    color: #44971d;
}
.white {
    color: white;
}

.indent {
    padding-left: 20px;
}