.code-example-code {
    margin: auto;
    border-radius: 5px;
    color: white;
    background: $scorpion;
    padding: 20px;
    font-size: .85em;
    font-family: monospace;
}

.yellow {
    color: #d1c489;
}

.purple {
    color: #a376af;
}

.blue {
    color: #244b8f;
}

.light-blue {
    color: #95d2f3;
}

.orange {
    color: #bd6334;
}

.red {
    color: #984a3e;
}

.green {
    color: #44bd9e;
}

.indent {
    padding-left: 20px;
}