.contact__grid {
    display: grid;
    grid-auto-flow: row;
    margin: 50px auto;
    color: $wenge;
    width: 90%;
    @media (min-width: $break-small) {
        padding: 20px;
    }
    @media (min-width: $break-large) {
        grid-template-columns: 1fr 1fr;
    }

}

.contact__description {
    width: 80%;
    height: 100%;
    margin: auto;
    p {
        width: 100%;
        text-wrap: wrap;

    }
}

.contact__notif {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    border: 2px solid $wenge;
    padding: 5px;

    background: rgba(255, 0, 0, 0.5);

    .fa {
        position: absolute;
        top: 3px;
        right: 5px;
        text-align: center;
        align-content: center;
        cursor: pointer;
    }
    h3 {
        margin: auto;
        text-align: center;
        align-self: center;

    }

}

label {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1.2em;
    color: rgba(255, 0, 0, 0.5);

}

.input {
    position: relative;
}