#contact {
    display: grid;
    grid-auto-flow: row;
    margin: 50px 0;
    color: $wenge;
    @media (min-width: $break-small) {
        padding: 20px;
    }
    @media (min-width: $break-large) {
        grid-template-columns: 1fr 1fr;
    }

}

.contact__description {
    width: 80%;
    height: 100%;
    margin: auto;
    p {
        width: 100%;
        text-wrap: wrap;

    }
}


