.contact__grid {
    display: grid;
    grid-auto-flow: row;
    margin: 50px auto;
    color: $wenge;
    @media (min-width: $break-large) {
        grid-template-columns: 1fr 1fr;
    }

}

.contact__description {
    width: 80%;
    height: 100%;
    margin: auto;
    p {
        width: 100%;
        text-wrap: wrap;

    }
}

.contact__notif {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid $wenge;
    padding: 5px;

    background: rgba(255, 0, 0, 0.5);

    h3 {
        text-align: center;
        align-self: center;

    }

    .close-message {
        margin: 0px 10px;
        cursor: pointer;
        font-size: 2em;
    }


}

label {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1.2em;
    color: rgba(255, 0, 0, 0.5);

}

.input {
    position: relative;
}

.form-error {
    border: 1px solid red !important;
}