.darkmode-toggle {
    display: block;
    border: none;
    background: $white;
    color: $wenge;
    font-size: 1em;
    margin: auto;
    text-align: center;
    width: fit-content;
    position: relative;

    span.toggle {
        display: block;
        position: relative;
        background-color: $wenge;
        background-clip: text;
        margin: 0;
        padding: 0;
        cursor: pointer;
        i {
            color: transparent;
        }
        &:hover,
        &:focus-within {
            background-color: $viking;
        }
        
    }

    &::after {
        display: block;
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: $wenge;
        left: 0;
        bottom: -5px;
    }

    span.darkmode-text {
        display: block;
        margin: 0;
        padding: 0;
    }

}

.nav__horizontal-row .darkmode-toggle::after {
    background: transparent;

}