footer {
    height: 50px;
    position: relative;

}

.footer-inside {
    height: 50px;
    text-align: center;
    color: $wenge;
    position: absolute;
    bottom: 0;
    background: $white;
    align-content: center;
    left: 0;
    right: 0;
    margin-inline: auto;


}