
#projects {
    padding: 20px;

    h1 {
        margin-bottom: 20px;
    }
}


#projects__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;

}

.projects__card {



    // Sizing
    min-height: 200px;
    width: 300px;
    max-width: 600px;
    flex: 0 1 auto;
    margin: 20px 0;
    padding: 0;

    @media (min-width: $break-medium) {
        height: fit-content;
    }
    @media (min-width: $break-xl) {
        flex-basis: 25%;
    }


    // Styling
    background: $charcoal;
    transition: 0.3s ease;
    color: $white;


    // corners
    border-radius: 10px 0 10px 0;


    // hover lift
    &:hover,
    &:focus-within {
        transform: translate(0, -10px);
        box-shadow: 0 10px 5px $wenge;

        .projects__card--img-container::before {
            width: 100%;
        }
    }

}

.projects__card--link {
    display: block;
    position: relative;
}


.projects__card--img-container {
    height: 203px;
    border-radius: 10px 0 10px 0;
    border: 3px transparent;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: clip;
    background: $wenge;
    &::before {
        transition: .3s ease;
        content: "";
        position: absolute;
        left: 0;
        width: 0%;
        height: 100%;
        background: linear-gradient(to left, $wenge 0%, $viking 80%);

    }

}
.projects__card--img {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 200px;
    border: none;
    background: white;


    // borders
    border-radius: 10px 0 10px 0;

}

.projects__card--title {
    padding-left: 1em;
}

.projects__card--desc {

    @include text-overflow-ellipsis;

    padding-left: 1em;

    margin-bottom: 20px;


}