
#projects {
    margin: auto;
    h1 {
        margin-bottom: 20px;
    }

}


#projects__grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    justify-content: space-around;

}

.projects__card {



    // Sizing
    height: 400px;
    margin: 20px 0;
    padding: 0;

    width: 95%;
    @media (min-width: $break-medium) {
        width: 100%;
    }
    @media (min-width: $break-xxl) {
        width: 500px;
    }

    



    // Styling
    background: $french-gray;
    transition: 0.3s ease;
    color: $wenge;
    


    // corners
    border-radius: 10px 0 10px 0;
    // border: 2px solid $wenge;


    // hover lift
    &:hover,
    &:focus-within {
        transform: translate(0, -10px);
        box-shadow: 0 10px 5px $wenge;

        .projects__card--img-container::before {
            opacity: 100%;
        }
    }

}

.projects__card--link {
    display: block;
    position: relative;
    height: 100%;
}


.projects__card--img-container {
    border: 3px transparent;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: clip;
    background: $wenge;
    &::before {
        transition: .3s ease;
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0%;
        background: $viking;

    }

    border-radius: 10px 0 10px 0;
}


.projects__card--img {
    position: relative;
    padding: 0;
    margin: 0;
    height: 200px;
    border: none;
    background: url(../img/NM-remake.png);
    background-size: cover;


    // borders
    @media (min-width: $break-medium) {
        border-radius: 10px 0 10px 0;
    }
    &#colour-palettes {
        background: url("../img/colour-palettes.png");
        background-size: cover;
    }
    &#js-array {
        background: url("../img/js-array.png");
        background-size: cover;
    }

}

.projects__card--title {
    padding-left: 1em;
    text-decoration: underline;
}

.projects__card--desc {

    @include text-overflow-ellipsis;

    padding-left: 1em;



}

.projects__card--arrow {
    span {
        font-weight: 600;
    }
    padding-left: 1em;
    a {
        display: inline;
    }

    position: absolute;
    bottom: 0;
}

.languages {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 5px;
    background: white;
    // border: 2px solid $wenge;
    border-right: none;
    border-top: none;
    border-radius: 0 0 0 5px;
    width: 70px;
    text-align: center;
    &.php {
        background: #4f5b93;
        color: white;
    }
    &.js {
        background: #f0dc4e;
        color: $wenge;
    }
}