// Main Colour Palette

// Greens
$riptide          : #84e3c8;
$padua            : #a8e6cf;
$caper            : #dcedc1;

// Reds
$romantic         : #ffd3b6;
$cornflower-lilac : #ffaaa5;
$pink-salmon      : #ff8b94;
$brink-pink       : #ff7480;

// Blues
$hawkes-blue      : #ccdbfd;
$melrose          : #b6ccfe;




// New Colour Palette

$french-gray : #d0ccd0;
$white : #fbfcff;
$wenge : #605856;
$light-blue : #a3c1cc;
$blizzard-blue : #8fe1eb;
$viking : #74d1db;
$air-superiority-blue : #7ba7b7;
$malibu : #7aadff;
$cerulean : #1c6e8c;
$charcoal : #274a56;


// Socials

$discord-blue : #0067e0;
$linkedin-blue : #0a66c2;

$socials-colours : (
    "discord" : $discord-blue,
    "linkedin" : $linkedin-blue
)