// New Colour Palette

$french-gray : #d0ccd0;
$white : #fbfcff;
$wenge : #605856;
$blizzard-blue : #8fe1eb;
$viking : #74d1db;
$bermuda : #85c2d8;
$charcoal : #274a56;


// Dark Mode Colours
$tundora : #404040;
$mine-shaft: #333;
$scorpion: #5c5c5c;


// Socials

$discord-blue : #0067e0;
$linkedin-blue : #0a66c2;
$github-black : #1f2328;

$socials-colours : (
    "discord" : $discord-blue,
    "linkedin" : $linkedin-blue,
    "github" : $github-black
)