// New Colour Palette

$french-gray : #d0ccd0;
$white : #fbfcff;
$wenge : #605856;
$blizzard-blue : #8fe1eb;
$viking : #74d1db;
$cerulean : #1c6e8c;
$charcoal : #274a56;


// Socials

$discord-blue : #0067e0;
$linkedin-blue : #0a66c2;
$github-black : #1f2328;

$socials-colours : (
    "discord" : $discord-blue,
    "linkedin" : $linkedin-blue,
    "github" : $github-black
)