// Break points

$break-small  : 600px;
$break-medium : 780px;
$break-large  : 992px;
$break-xl     : 1100px;
$break-xxl    : 1450px;



$nav__vertical--width   : 250px;
$nav__horizontal-height : 250px;
$banner__height: 450px;

$about-me__images : (
    1 : null,
    2 : "../img/code_screenshot.png",
    3 : "../img/chess.png"
)